@import "../utils/mixins";

.header {
  border-bottom: 1px solid #e5e5e5;
}

.main-nav {
  display: flex;
  align-items: center;

  &__logo-firstpart {
    color: $accentColor;
  }

  &__logo-secondpart {
    color: $primaryColor;
  }

  &__full-logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $primaryColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
  }

  &__link--current:hover,
  &__link--current:focus {
    color: $accentColor;
  }

  &__link--current {
    position: relative;
    @include animate(color);
    color: $accentColor;
  }

  &__link--current::after {
    position: absolute;
    top: 76px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background-color: #2196f3;
    border-radius: 2px;

    opacity: 1;
  }

  &__item {
    margin-right: 50px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__adjective {
    @include animate(color);
  }

  &__adjective:hover,
  &__adjective:focus {
    color: $accentColor;
  }
}

.auth-nav {
  display: flex;
  margin-left: auto;

  &__item + &__item {
    margin-left: 30px;
  }

  &__link {
    color: $secondaryColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    letter-spacing: 0.02em;
  }

  &__envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;

    fill: #757575;

    @include animate(color);
  }

  &__smartphone-icon {
    margin-right: 10px;
    width: 10px;
    height: 16px;

    fill: #757575;

    @include animate(color);
  }

  &__phone,
  &__email {
    display: flex;

    align-items: center;

    @include animate(color);
  }

  &__email:hover,
  &__email:focus {
    color: $accentColor;
  }

  &__email:hover .auth-nav__envelope-icon,
  &__email:focus .auth-nav__envelope-icon {
    fill: currentColor;
  }

  &__phone:hover,
  &__phone:focus {
    color: $accentColor;
  }

  &__phone:hover &__smartphone-icon,
  &__phone:focus &__smartphone-icon {
    fill: currentColor;
  }
}
